.container-configura-veiculo ul{
	margin: 0;
	padding: 0;
}
.content-li{
	min-height: 250px;
}
.container-configura-veiculo .container-carousel-veiculos,
.container-configura-veiculo .content-veiculos{
	width: 100%;
}
.container-configura-veiculo .content-veiculos img{
	width: 450px;
}
.container-configura-veiculo .slider-veiculo li{
	display: inline-block;
	width: 900px;
}
.container-configura-veiculo .content-veiculos .value-car{
	color: #bf1e2e;
	display: block;
	font-size: 48px;
	text-align: right;
	margin: 0;
	width: 94%;
}
.name-veiculo{
	color: #bf1e2e;
	font-size: 55px;
	margin: 0;
	text-transform: uppercase;
	line-height: 35px;
}
.name-veiculo .name{
	display: inline-block;
	max-width: 310px;
	vertical-align: middle;
	line-height: 48px;
}
.quadrado{
	display: inline-block;
	vertical-align: middle;
	height: 70px;
	width: 98px;
	margin-left: -20px;
	margin-right: -20px;
}
.quadrado::before{
	content: '';
	display: inline-block;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #bf1e2e;
	margin: 0;
}
.quadrado::after{
	content: '';
	display: inline-block;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #bf1e2e;
	height: 19px;
}
.container-kits{
	background: #bf1e2e;
	padding: 15px 25px;
}
.container-kits .seta-right{
	background: url("../../img/icones_yala_car/seta_right_kit.png")no-repeat;
}
.container-kits .seta-left{
	background: url("../../img/icones_yala_car/seta_left_kit.png")no-repeat;
}
.container-kits .seta-right:hover{
	background: url("../../img/icones_yala_car/seta_right_kit_hover.png")no-repeat;
}
.container-kits .seta-left:hover{
	background: url("../../img/icones_yala_car/seta_left_kit_hover.png")no-repeat;
}
.content-info-kits{
	display: flex;
	width: 100%;
}
.content-info-kits ul{
	margin: 0 auto;
	padding: 0;
	width: 85%;
}
.content-info-kits ul li{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	list-style: none;
	margin-bottom: 30px;
	padding-left: 80px;
	width: 35%;
	font-weight: 100;
}
.container-kits h2 {
	color: #fff;
	font-size: 58px;
	font-weight: 100;
	margin: 0 0 20px 0;
	padding-left: 45px;
	text-decoration: underline;
	text-align: left;
}
.content-btns{
	overflow: hidden;
}
.content-btns .btn-finalizar{
	float: right;
	margin: 0 20px;
}
.btn-acessorio::after{
	background: url("../../img/icones_yala_car/seta_acessorio_button.png")no-repeat;
	content: '';
	display: inline-block;
	height: 14px;
	margin-left: 15px;
	width: 27px;
}
.btn-button:hover:after{
	background: url("../../img/icones_yala_car/seta_acessorio_button_hover.png")no-repeat;
}
.btn-top::after{
	background: url("../../img/icones_yala_car/seta_acessorio_top.png")no-repeat;
	content: '';
	display: inline-block;
	height: 16px;
	margin-left: 15px;
	width: 27px;
}
.btn-top:hover:after{
	background: url("../../img/icones_yala_car/seta_acessorio_top_hover.png")no-repeat;
}

.hide {
    display: none;
}
.divisao{
	border: 10px solid #fff;
	text-align: center;
        margin: 20px 0 -22px 0;
}
.divisao::after{
	content: "";
	width: 0;
	height: 0;
	display: block;
	margin: -12px auto -40px;
	vertical-align: middle;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	position: relative;
}
.divisao::before{
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	border-bottom: 20px solid #fff;
	margin: -50px 0 0 0;
	vertical-align: middle;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
.container-description{
	background: #5e6270;
	overflow: hidden;
	padding: 30px;
}
.container-description h4{
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	margin: 0;
}
.container-description p{
	color: #fff;
	font-size: 14px;
	padding: 0 18px;
}
.title-description::before{
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	border-bottom: 10px solid #fff;
	vertical-align: middle;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	margin-top: 3px;
	float: left;
	margin-right: 4px;
}
.title-description::after{
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	border-top: 10px solid;
	float: left;
	margin-left: -24px;
	bottom: -13px;
}

.containner-finalizar{
	background: #ee3c23;
	padding: 70px;
}
.containner-finalizar ul{
	margin: 0;
	padding: 0;
}
.containner-finalizar li{
	width: 49%;
	display: inline-block;
	color: #fff;
	font-size: 35px;
}
.containner-finalizar li p{
	text-align: center;
	width: 244px;
	margin: 0 auto;
	text-transform: uppercase;
}