.container-home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.item-info-monte-car{
	display: block;
	text-align: center;
	width: 100%;
}
.seta{
	background: url("../../img/home/seta.png")no-repeat;
	height: 122px;
	margin: 0 auto 25px;
	text-align: center;
	width: 72px;
}
.btn-home{
	background: #ee3c23;
	color: #fff;
	font-size: 67px;
}
.logo-footer {
	background: url("../../img/home/logo_home.png")no-repeat;
	width: 226px;
	display: block;
	height: 273px;
	margin: 128px auto 10px;
}
.text-monte-car{
	font-size: 91px;
	color: #bf1e2e;
	line-height: 68px;
	font-weight: bold;
	margin: 0 0 44px 0;
}
.text-monte-car::before{
	background: url("../../img/home/ferramenta_horme.png")no-repeat;
	content: '';
	display: block;
	height: 85px;
	margin: 0 auto -7px;
	width: 86px;
}
.btn-home:hover{
	background: #EE3C3F;
	color: #eee;
}



