/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author:Alberto Ramos
   ========================================================================== */
body{
    background: #1b1b1b;
    color: #a08c64;
}
.container{
    width: 1024px; 
    margin: 0 auto;
}
header {
    background: url('../img/header_background.png');
    display: flex;
    height: 120px;
}
nav{
    background: #140000;
    display: flex;
    align-items:center;
}
.content-open-button{
    background: #330000;
    border: 1px solid #140000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    flex-direction:column;
    width: 46px;
}
.content-open-button span{
    display: block;
    background: #a08c64;
    height: 3px;
    width: 24px;
    border: 1px;
    border-radius: 1px;
    margin: 2px 0;
}
.nav-header{
    display: none;
    padding: 0;
}
.nav-header .title{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
a{
    color: #a08c64;
    text-decoration: none;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-filters{
    margin-top: 30px;
}
.container-filters .title-filter{
    font-size: 28px;
}
.container-filters .title-filter::after{
    content: '';
    background: #a08c64;
    border: 1px;
    border-radius: 0px 5px 3px 0px;
    display: block;
    height: 3px;
    width: 520px;
    margin-top: 7px;
}
.content-search-car{
    background: #222;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}
.content-search-car .fields-car label{
    display: block;
    margin: 15px 0 10px 0;
}
.content-search-car .fields-car .styled-select{
    background: url("../img/dropdown-selector.png") no-repeat bottom right;
    border: 1px solid #333;
    display: flex;
    height: 23px;
    width: 75%;
}
.content-search-car .fields-car .fields{
    display: inline-block;
    width: 47%;
}
.content-search-car .fields-car select{
   -webkit-appearance: none;
   -webkit-tap-highlight-color: rgba(255,255,255,0);
   border: none;
   background: transparent;
   color: #555;
   display: inline;
   padding: 2px 5px;
   height: 25px;
   width: 270px;
}
.content-search-car .fields-car .style-preco{
    width: 146px;
}
.brands-car{
    display: inline-block;
    margin-left: 52px;
    width: 50%;
}
.content-search-car .fields-car {
    border-right: 2px solid #a08c64;
}
.brands-car .checked-fields label{
    display: block;
}
.brands-car .checked-fields label input{
    margin-right: 10px;
}
.content-search-car .brands-car h4{
    margin-top: 15px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}