.container-selecionaVeiculo{
	display: flex; 
}
.content-marcas ul {
	margin: 0;
	padding: 0;
}
.container-carousel-marcas{
	border: 2px solid #bf1e2e;
	display: table;
	text-align: center;
	width: 196px;
	padding: 0 20px;
}
.seta-top{
    background: url("../../img/icones_yala_car/seta_top.png")no-repeat center center;
	display: block;
	text-indent: -9999999px;
	height: 32px;
	margin: 15px 0 0 0;
	position: relative;
	top: 0;
}	
.seta-top:hover{
    background: url("../../img/icones_yala_car/seta_top_hover.png")no-repeat center center;
}
.seta-bottom{
    background: url("../../img/icones_yala_car/seta_buttom.png")no-repeat center center;
	display: block;
	text-indent: -9999999px;
	height: 32px;
	margin: 0 0 15px  0;
	position: relative;
	bottom: 0;
}	
.seta-bottom:hover{
    background: url("../../img/icones_yala_car/seta_buttom_hover.png")no-repeat center center;
}
.content-marcas{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.content-marcas ul{
	transition: margin-top .5s ease;
	-webkit-transition: margin-top .5s ease;
	-moz-transition: margin-top .5s ease;
	-o-transition: margin-top .5s ease;
}
.content-marcas li{
	list-style: none;
}
.content-marcas img{
	height: 80px;
	width: 152px;
}
.content-veiculos li img{
	width: 150px;
}
.content-info{
	background: #ee3c23;
	color: #fff;
	margin: 0px 0px 0 13px;
	padding: 10px 20px;
	text-align: left;
	width: 301px;
}
.content-veiculos li{
<<<<<<< HEAD
<<<<<<< HEAD
	display: inline-block;
=======
>>>>>>> 2c7094e006d261a177409e172f7acb013bade25d
=======
>>>>>>> 2c7094e006d261a177409e172f7acb013bade25d
	margin-bottom: 12px;
}